.closebutton{
    padding: 5px 20px;
    background-color: red;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    float: right;
}

.modalbody{
height: 340px;
text-align: left;
position: fixed; 
background-color:#fff;
z-index: 500;
left: 38%;
top: 21%; 
box-sizing: border-box;
width: 35%;
overflow-Y: hidden;
border-radius: 10px 10px 10px 10px;
}

@media only screen and (max-width:500px){

    .modalbody{
        height: 500px;
        width: 80%;
        overflow-Y: scroll;
        }
    
  }


